* {
    padding: O;
    margin: O;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.navbar-nav {
    color: white !important;
}

.navbar-nav:hover {

    color: aqua;
}

.color-white {
    color: white;
}

.fontDetallesAn {
    font-size: 1rem !important;
}

.fontTitle {
    font-size: 2rem !important;
    font-weight: 500;
}